<div class="contact-details">
  <div class="contact-label">Let's talk –</div>
  <div class="contact-email"><a class="" href="mailto:me@andreasthoma.com?subject=Hey%20Andreas!">me@andreasthoma.com</a></div>
</div>
<div class="footer-year">
  <div class="section-label">Last updated {{ site.time | date: "%b %-d, %Y" }}</div>
  <div class="section-label">Thanks for visiting 👋</div>
</div>
<!-- ~ ~ ~ ~ ~ ~
<br>
<br>
Hey there, I'm Andreas 👋 <br>

I've tried holding my output in many different iterations online; this one feels the best. <br><br>
— Welcome to my digital space.<br><br>
<a class="internal-link" href="{{ site.baseurl }}/contact">Contact me 📧</a> -->
