<!-- This is a placeholder, until refactored to be nice -->
<div style="display: flex" class="pb">
    <!-- You need to fix how this displays -->
    <div style="flex-grow: 1;">
        {% if page.path contains "projects" %}
        <a class="nav-link " href="{{ site.baseurl }}/">{{ site.title }}</a><span class="muted"> / </span><a href="/projects" class="nav-link " style="color: #999; font-weight: 350; padding-top: 0;">Projects</a>
        {% elsif page.path contains "studio" %}
        <a class="nav-link " href="{{ site.baseurl }}/">{{ site.title }}</a><span class="muted"> / </span><a href="/studio" class="nav-link " style="color: #999; font-weight: 350; padding-top: 0">Studio</a>
        {% elsif page.path contains "notes" %}
        <a class="nav-link " href="{{ site.baseurl }}/">{{ site.title }}</a><span class="muted"> / </span><a href="/notes" class="nav-link " style="color: #999; font-weight: 350; padding-top: 0">Notes</a>
        {% else %}
        <a class="nav-link " href="{{ site.baseurl }}/">{{ site.title }}</a></span>
        {% endif %}
    </div>
    <div style="text-align: right;" class="pl">
        <a class="nav-link " href="{{ site.baseurl }}/about">About</a>
    </div>
</div>