//Coolors pallette
// https://coolors.co/ffe8bc-f5f7ff-1a1a1a-8b88e6-eff7fb
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

//Variables
$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 50%);
$color-muted: hsl(0, 0%, 65%);
$color-border: 	hsl(242, 65%, 72%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 8px;
$font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-size-base: calc(0.75rem + 0.25vw);

/* Main */
body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  padding: 4vh 6vw;
  
  /* Body padding */
  max-width: 70em;
  overflow-x: hidden;
  line-height: 1.7;
  color: $color-text;
  // font-size: 1em;
  font-size: $font-size-base;
}

content {
  width: var(--wrap-normal);
  max-width: var(--wrap-wide);
  margin: 0 auto;

  img {
    margin-bottom: 0.5em;
  }

  figure {
    margin: 0;
    padding: 1em 0 1em 0;

    &.wide {
      max-width: min(100vw, var(--wrap-wide));
      width: min(100vw, var(--wrap-wide));
      margin-left: calc((min(100vw, var(--wrap-wide)) - 100%) / -2);
      margin-top: 0;
      /* Padding applies to all screen sizes */
    }
  }
}



figcaption {
  text-align: center;
  font-size: 0.88em;
  color: $color-muted;
  padding-top: 1em;
}

@media (max-width: 60em) {
  figure.wide {
    position: relative;
    max-width: 100vw;
    width: 100vw;
    // left: 50%;
    // transform: translateX(-50%);
    // margin: 0;
  }

  figure.wide img {
    width: 100%;
    /* Image fills full width of figure */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 0;
  }
}


strong {
  font-weight: 600;
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: mix($color-text, white, 80%);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

li {
  margin-block-end: 0.5em;
}

/* Classes */
.subtext {
  color: $color-subtext;
}

.caption {
  font-size: 0.88em;
  text-align: center;
}

.muted {
  color: $color-muted;
}

.callout {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;
  color: $color-text;
  margin-block-start: 1em;
  margin-block-end: 1em;

  p {
    margin: 0;
  }

  &.blue {
    background: #EFF7FB;
  }

  &.text-center {
    text-align: center;
  }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

h1 {
  font-weight: 400;
  // font-size: 2em;
  font-size: calc(1rem + 0.55vw);
  line-height: 1.25;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

h2 {
  font-weight: 500;
  font-size: calc(1rem + 0.2vw);
  // letter-spacing: -0.015em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.3;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.3;
  margin-top: 1em;
}

h5 {
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 1em;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
}

content {
  h2 {
    margin-top: 2em;
  }

  h1+h2,
  h2+h3 {
    margin-top: 1em;
  }

  h3 {
    margin-top: 1.5em;
  }
}

// This has potential to be tidied up, especially the nav-link
a {
  // transition: background 100ms;
  transition: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid rgba(132, 111, 255, 0.4);
  color: $color-primary;

  &:hover {
    color: black !important;
    background: #efefff;
    border-bottom: 1px solid $color-border;
  }

  &.nav-link {
    font-size: calc(1rem);
    background: none;
    // border-bottom: 1px solid rgba(132, 111, 255, 0.2);
    font-weight: 400;
  }

  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #aaaaaa;
  }

  &.internal-link:after,
  &.nav-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

*:focus {
  background: #efefff !important;
  color: black !important;
}

nav {
  margin: 1em 0 3em;
}

#notes-entry-container {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "content"
    "side";

  // @media (min-width: 700px) {
  //   grid-template-columns: 3fr 2fr;
  //   grid-template-areas: "content side";
  // }
}

// #notes-entry-container-centred {
//   display: flex;
//   max-width: 40rem;
//   @media (min-width: 700px) {
//   }
// }

.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

/* flexbox */
flex,
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.label {
  min-width: 8rem;
}

@media (max-width: 600px) {
  .label {
    min-width: 6rem;
  }
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

/* Borders */
.ba {
  border: 1px solid $color-border;
}

.bt {
  border-top: 1px solid $color-border;
}

.br {
  border-right: 1px solid $color-border;
}

.bb {
  border-bottom: 1px solid $color-border;
}

.bl {
  border-left: 1px solid $color-border;
}

/* Padding */
.pa {
  padding: 1rem;
}

.pt {
  padding-top: 1rem;
}

.pr {
  padding-right: 1rem;
}

.pb {
  padding-bottom: 1rem;
}

.pl {
  padding-left: 1rem;
}