@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400;500&family=IBM+Plex+Sans:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@font-face {
  font-family: "Geist";
  src: url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Batmip";
  src: url(assets/fonts/BATMIP1.41-Roman.woff2) format(woff2);
  font-style: normal;
  font-display: swap;
}

// Variables
$font-family-primary: "Geist", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
$font-family-text: "Geist", "SF Pro Text", sans-serif;
$font-family-mono: "IBM Plex Mono", monospace;
$font-family-title: "Batmip", "Pretendard Std";

$color-primary: #100f0f;
$color-secondary: #505050;
$color-gray-400: #606060;
$color-muted: #707070;
$color-light: #bababa;
$color-white: #ffffff;
$color-border: #333333;

$color-blue: #2176ff;
$color-red: #e80000;
$color-green: #00a878;
$color-yellow: #ffbb00;
$color-gray: #e5e5e5;
$color-light-gray: #f0f0f0;

$spacing-xs-8: 8px;
$spacing-s-16: 16px;
$spacing-m-24: 24px;
$spacing-lg-32: 32px;
$spacing-xl-64: 64px;
$spacing-xxl-128: 128px;

$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 48px;

$transition-default: all 0.2s ease;

$font-size-base: 16px;

:root {
  --font-size-base: #{$font-size-base};
}

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-xl-64;
}

/* Borders */
.ba {
  border: 1px solid $color-light;
}

.bt {
  border-top: 1px solid $color-light;
}

.br {
  border-right: 1px solid $color-light;
}

.bb {
  border-bottom: 1px solid $color-light;
}

.bl {
  border-left: 1px solid $color-light;
}

/* Padding */
.pa {
  padding: 1rem;
}

.pt {
  padding-top: 1rem;
}

.pr {
  padding-right: 1rem;
}

.pb {
  padding-bottom: 1rem;
}

.pl {
  padding-left: 1rem;
}

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Base styles
html,
body {
  display: flex;
  flex-direction: column;
  font-family: $font-family-primary;
  background-color: $color-white;
  color: $color-primary;
  line-height: 1.6;
  width: 100vw;
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
}

article,
content {
  margin: auto;
  max-width: 42rem;
  p {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  ul,
  ol {
    margin-block-start: 0.5em;
    margin-block-end: 0.25em;
  }
}

a {
  text-decoration: underline $color-gray;
  color: $color-primary;

  // &.external:after {
  //   position: relative;
  //   top: -0.3em;
  //   font-size: 0.7em;
  //   content: "↗";
  //   color: $color-light;
  // }

  &:visited {
    color: $color-primary;
  }

  &:hover {
    text-decoration: underline;
  }

  &.no-underline {
    text-decoration: none;
  }
}

strong {
  font-weight: 500;
}

time {
  display: block;
  color: $color-gray-400;
  margin-bottom: $spacing-lg-32;
  font-family: $font-family-mono;
  text-align: center;
}

// footer {
//   margin: 0;
//   font-size: 0.88rem;
//   color: $color-subtext;
//   padding-top: 0em;
//   padding-bottom: 1em;
// }

// .wide {
//   max-width: min(100vw, var(--wrap-wide));
//   width: min(100vw, var(--wrap-wide));
//   margin-left: calc((min(100vw, var(--wrap-wide)) - 100%) / -2);
// }

figure {
  margin: 2rem 0 2rem 0;
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

figcaption {
  text-align: center;
  font-size: $font-size-base - 2px;
  color: $color-muted;
  padding: 1em 0 0 0;
  a {
    color: $color-muted;
  }
}

iframe {
  border-radius: $border-radius-sm;
}

.intro {
  font-size: calc(var(--font-size-base) + 4px);
  line-height: 1.5;
  margin-top: 0;
  font-family: $font-family-mono;
  color: $color-primary;
  text-align: center;
}

blockquote,
.callout {
  padding: 1.5em;
  margin: 0;
  font-size: calc($font-size-base - 2px);
  background: $color-light-gray;
  color: $color-secondary;
  border-radius: $border-radius-sm;
  margin-block-start: 1em;
  margin-block-end: 1em;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 2px;
  margin: $spacing-lg-32 0 0 0;
  background: $color-light-gray;
}

ol,
ul {
  margin-block-end: 0.5em;
  padding-left: 1.5rem;
}

//Headings
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
  color: $color-primary;
}

h1 {
  font-family: $font-family-mono;
  font-weight: 400;
  font-size: calc($font-size-base + 5rem);
  // line-height: 1;
  margin-top: $spacing-xs-8;
  margin-bottom: $spacing-m-24;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: calc($font-size-base + 4px);
  // letter-spacing: -0.015em;
  // margin-top: 1rem;
  // margin-bottom: 0.5em;
  line-height: 1.3;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3;
  // margin-top: 1em;
  // margin-bottom: 0.5em;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.3;
  margin-top: 1em;
}

h5 {
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 1em;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
}

content {
  h2 {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  h1 + h2,
  h2 + h3 {
    margin-top: 1em;
  }

  h3 {
    margin-top: 1.5em;
  }
}

code {
  background: #f5f5f5;
  color: $color-secondary;
  padding: 0.1em 0.2em;
  border-radius: $border-radius-sm;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

// Overlay
.overlay {
  position: fixed;
  inset: 0;
  background: $color-white;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 9999;
  // transition:
  //   opacity 5s ease,
  //   color 4s ease;
}

.overlay-content {
  padding: 2rem;
  button {
    background-color: $color-white;
    &:hover {
      text-decoration: underline;
    }
  }
}

.overlay.hidden {
  opacity: 0;
  pointer-events: none;
  * {
    color: $color-white;
  }
}

// Navigation
.nav {
  @include flex-between;
  padding: $spacing-xl-64 $spacing-lg-32 $spacing-lg-32;
  // height: $spacing-xxl-128;
  width: 100%;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &-left {
    @include flex-center;
    gap: $spacing-s-16;
  }

  &-name {
    font-family: $font-family-primary;
    // text-transform: uppercase;
    font-weight: 450;
    font-size: var(--font-size-base);
    // line-height: 24px;
    color: $color-primary;
  }

  &-right {
    @include flex-center;
    gap: $spacing-m-24;
  }
}

.contact-btn {
  @include flex-center;
  gap: 6px;
  padding: $spacing-m-24 $spacing-lg-32;
  border: 1px solid $color-border;
  border-radius: $border-radius-lg;
  background: transparent;
  font-family: $font-family-primary;
  // font-weight: 500;
  font-size: var(--font-size-base);
  // line-height: 24px;
  color: $color-border;
  cursor: pointer;
  text-decoration: none;
  transition: $transition-default;

  &:hover {
    background-color: $color-border;
    color: $color-white;
  }
}

// Main Content
.main {
  padding: 0 $spacing-lg-32 $spacing-m-24;
  width: 100%;
  flex: 1;
}

// Header Section
.header {
  @include grid-4;
  margin: $spacing-xl-64 0 $spacing-xxl-128;
}

.intro-text {
  grid-column: 1 / span 2;
  padding-right: $spacing-xxl-128;
  font-family: $font-family-text;
  font-size: var(--font-size-base);
  // line-height: 24px;
  color: $color-primary;

  span {
    cursor: pointer;
    &.design {
      color: $color-blue;
    }

    &.music {
      color: $color-red;
    }

    &.visual {
      color: $color-green;
    }

    &.writing {
      color: $color-yellow;
    }
  }
}

.experiences {
  grid-column: 3 / span 2;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg-32;
}

.experience-section {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs-8;
}

.section-label {
  font-family: $font-family-mono;
  font-size: calc(var(--font-size-base) - 1px);
  // line-height: 24px;
  font-weight: 400;
  color: $color-muted;
  // padding-bottom: $spacing-s-16
}

.experience-item {
  @include flex-center;
  align-items: start;
  font-family: $font-family-text;
  font-size: var(--font-size-base);
  // line-height: 24px;
  color: $color-secondary;

  .company {
    // min-width: 20ch;
    flex: 1;
    white-space: nowrap;
  }

  .role {
    flex: 1;
    color: $color-muted;
  }
}

// Toolbar
.toolbar {
  @include flex-between;
  align-items: flex-start;
  margin-bottom: $spacing-m-24;
  font-family: $font-family-mono;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  // gap: $spacing-s-16;
  font-size: var(--font-size-base);
  // line-height: 24px;
}

button {
  border: none;
  cursor: pointer;
}

button.tag {
  background: none;
  padding: 0 0 0 $spacing-xs-8;
  margin: 0;
  color: $color-muted;
  font: inherit;
  cursor: pointer;
  // outline: none;
  box-shadow: none;
  text-decoration: none;
}

// img {
//   width: 100%;
//   height: 100%;
//   display: block;
// }

.tags .tag:first-of-type {
  padding-left: 0;
}

.tag {
  color: $color-gray;
  white-space: nowrap;

  .inactive {
    color: $color-gray;
  }

  &:hover,
  &.active {
    color: $color-primary;
    font-style: italic;
    text-decoration: none;

    &[data-filter="design"] {
      color: $color-blue;
    }

    &[data-filter="music"] {
      color: $color-red;
    }

    &[data-filter="visual"] {
      color: $color-green;
    }

    &[data-filter="writing"] {
      color: $color-yellow;
    }
  }
  &.active {
    color: $color-primary;
    font-style: italic;
  }
}

.view-controls {
  @include flex-center;
  gap: 10px;

  .view-label {
    font-size: var(--font-size-base);
    color: $color-muted;
    white-space: nowrap;
  }

  .grid-icon,
  .list-icon {
    width: 32px;
    height: 24px;
    display: grid;
    place-items: center;
    transition: background-color 0.2s;
    background-color: transparent; // Inactive by default
    // Optional: add outline for accessibility
  }

  .grid-icon {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;

    // Example grid squares
    .grid-square {
      width: 100%;
      height: 100%;
      background: $color-gray; // Inactive by default
    }
  }

  .list-icon {
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;

    // Example list bars
    .list-bar {
      width: 100%;
      height: 100%;
      background: $color-gray;
    }
  }
  .grid-icon .grid-square,
  .list-icon .list-bar {
    background: $color-gray;
  }

  .grid-icon.active .grid-square,
  .list-icon.active .list-bar {
    background: $color-light;
  }
}

// Project Grid
.project-grid {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: minmax(0, auto);
  gap: $spacing-lg-32;
  padding-bottom: $spacing-xl-64;

  // height: 1220px;
}

.project {
  // Sarafi fix
  min-width: 0; /* allows shrinking */
  min-height: 0; /* allows vertical shrinking if needed */
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: transform 1s ease-out;
  transition: padding 0.075s ease-out;


  &-image {
    aspect-ratio: 1/1;
    background-color: $color-light-gray;
    overflow: hidden;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    // gap: 4px;
  }

  &-title {
    font-family: $font-family-primary;
    font-weight: 500;
    font-size: var(--font-size-base);
    line-height: 1.4;
    margin-top: $spacing-xs-8;
    color: $color-primary;
    // white-space: nowrap;
  }

  &-description {
    font-family: $font-family-mono;
    font-size: $font-size-base - 2px;
    line-height: 1.5;
    color: #878580;
    font-weight: 400;
  }

  &.inactive {
    opacity: 0;
    display: none;
    pointer-events: none;
  }

  &:hover {
    padding: $spacing-xs-8;
    border: 1px dashed $color-border;
  }

  // a {
  //   transition: transform 0.2s ease-in-out;
  // }
  // a:hover {
  //   transform: scale(0.95);
  // }
}

.project-grid.list-view {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.project-grid.list-view .project {
  display: flex;
  padding: $spacing-s-16 0;
  border-top: 1px solid $color-light-gray;

  &.inactive {
    display: none;
  }

  &:hover {
    background-color: $color-light-gray;
    padding-left: $spacing-xs-8;
    border-left: none;
    border-right: none;
  }
}
.project-grid.list-view .project-image {
  display: none;
}
.project-grid.list-view .project-content {
  flex: 1;
}

// Footer
.footer {
  @include flex-between;
  align-items: flex-start;
  gap: $spacing-s-16;
  max-width: 1440px;
  color: $color-muted;

  padding: $spacing-xxl-128 $spacing-m-24 $spacing-lg-32;
  // margin-top: $spacing-xxl-128;
}

.contact-details {
  display: flex;
  flex-direction: column;
  // gap: $spacing-xs-8;
  font-family: $font-family-primary;
  font-size: var(--font-size-base);
  // line-height: 24px;
  // text-align: center;
  white-space: nowrap;

  .contact-label {
    font-family: $font-family-mono;
  }

  .contact-email {
    color: $color-primary;
    font-family: $font-family-mono;

    // font-weight: 500;
  }
}

.footer-year {
  display: flex;
  flex-direction: column;
  // gap: $spacing-xs-8;
  font-family: $font-family-primary;
  // font-weight: 500;
  font-size: var(--font-size-base);
  // line-height: 24px;
  color: $color-light;
  text-align: right;
  white-space: nowrap;
}

// Responsive Design
@media (max-width: 1200px) {
  .intro-text {
    grid-column: 1 / span 2;
  }
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: $spacing-lg-32;
  }

  .nav {
    padding: $spacing-lg-32 $spacing-m-24;
    height: auto;
  }

  .contact-btn {
    padding: $spacing-s-16 $spacing-m-24;
    // font-size: 14px;
    // line-height: 20px;
  }

  .main {
    padding: 0 $spacing-m-24 $spacing-m-24;
    width: 100%;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    margin: $spacing-xl-64 0;
  }

  h1 {
    font-size: calc($font-size-base + 3rem);
  }

  time {
    font-size: $font-size-base - 2px;
    margin-bottom: $spacing-m-24;
    text-align: left;
  }

  .intro {
  font-size: calc(var(--font-size-base) + 2px);
  text-align: left;
}

  .project.inactive {
    display: none;
  }

  .intro-text {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    padding-right: 0;
  }

  .experiences {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  .footer {
    padding: $spacing-lg-32 $spacing-m-24;
  }
}

@media (max-width: 540px) {
  :root {
    --font-size-base: 15px;
  }

  p,
  ul,
  ol {
    font-size: var(--font-size-base);
  }

  h1 {
    font-size: calc($font-size-base + 2rem);
  }

  img {
    border-radius: 0;
  }

  .nav {
    height: auto;
    padding-top: $spacing-xl-64;
    padding-left: $spacing-s-16;
    padding-right: $spacing-s-16;
  }

  .main {
    padding: 0 $spacing-s-16 0 $spacing-s-16;
    width: 100%;
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .project-image {
    aspect-ratio: 3/2;
    border-radius: 0;
  }

  .project-description {
    font-size: calc(var(--font-size-base) - 1px);
  }

  .header {
    grid-template-columns: 1fr;
    gap: $spacing-lg-32;
    height: auto;
  }

  .intro-text {
    grid-column: 1;
    max-width: 600px;
  }

  .experiences {
    grid-column: 1;
  }

  .view-label {
    display: none;
  }

  .view-controls .grid-icon {
    display: flex;
  }
  .grid-icon .grid-square:nth-child(2),
  .grid-icon .grid-square:nth-child(3),
  .grid-icon .grid-square:nth-child(4) {
    display: none;
  }

  .footer {
    flex-direction: column;
    padding: $spacing-lg-32 $spacing-s-16 $spacing-s-16;
    .footer-year {
      text-align: left;
    }
  }
}

@media (max-width: 320px) {
  .experiences {
    gap: $spacing-m-24;
    .experience-item {
      display: flex;
      flex-direction: column;
      .role {
        padding-left: $spacing-xs-8;
      }
    }
  }
}
