// Variables
$font-family-primary: "Geist", -apple-system, BlinkMacSystemFont, Roboto,
  "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  sans-serif;
$font-family-text: "Geist", "SF Pro Text", sans-serif;
$font-family-mono: "Geist Mono", "SF Mono", Monaco, "Cascadia Code", "Courier New", monospace;

$color-primary: #100f0f;
$color-secondary: #505050;
$color-gray-400: #606060;
$color-muted: #707070;
$color-light: #bababa;
$color-white: #ffffff;
$color-border: #333333;

$color-blue: #2176ff;
$color-red: #e80000;
$color-green: #00a878;
$color-yellow: #f59e0b;
$color-gray: #e5e5e5;
$color-light-gray: #f0f0f0;

$spacing-xs-8: 8px;
$spacing-s-16: 16px;
$spacing-m-24: 24px;
$spacing-lg-32: 32px;
$spacing-xl-64: 64px;
$spacing-xxl-128: 128px;

$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 48px;

$transition-default: all 0.2s ease;

$font-size-base: 16px;