---
layout: default
---

<content>
  <article>
    <div class="title">
      <h1>{{ page.title }}</h1>
      <div class="header-information">
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %Y" }}</time>
          <!-- <div
          class="project-tags"
          aria-label="Tags: {{ page.tags | join: ', ' }}"
        >
          {% for tag in page.tags %}
          <span class="tag active" data-filter="{{ tag | downcase }}"
            >{{ tag | capitalize }}</span
          >
          {% unless forloop.last %}<span class="tag-sep" aria-hidden="true"
            >•</span
          >{% endunless %} {% endfor %}
        </div> -->
      </div>
    </div>
    {{ content }}
  </article>
</content>
<!-- <hr /> -->
{% if page.backlinks.size > 0 %}
<div class="pt" id="notes-entry-container">
  <h3 style="margin-bottom: 1em">Linked pages</h3>

  <div class="project-grid list-view">
    {% for backlink in page.backlinks %}
    <div class="project" data-tags="{{ backlink.tags | join: ', ' }}">
      <a
        href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}"
        class="internal-link no-underline"
      >
        <div class="project-text">
          <div>
            <h2 class="project-title">{{ backlink.title }}</h2>
          </div>
          <p class="project-description">
            {{ backlink.description | strip_html | default: "No summary
            available." }}
          </p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
