---
layout: default
---

<content>
  <div class="title">
    <div class="project-tags" aria-label="Tags: {{ page.tags | join: ', ' }}">
      {% for tag in page.tags %}
      <div class="tag active" data-filter="{{ tag }}">
        <span class="tag-square"></span>{{ tag | capitalize }}
      </div>
      {% endfor %}
    </div>
    <h1>{{ page.title }}</h1>
  </div>
  <article>
    <div class="header-information">
      {% if page.description %}
      <p class="intro">{{ page.description }}</p>
      {% endif %}
      <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
        {% if page.type != 'pages' %} Last updated on {{ page.last_modified_at |
        date: "%B %-d, %Y" }} {% endif %}
      </time>
    </div>
    {{ content }}
    <hr />
    <div class="pt" id="notes-entry-container">
      <div style="font-size: 0.9em">
        <h3 style="margin-bottom: 1em">Pages linked to this one</h3>
        {% if page.backlinks.size > 0 %}
        <div style="display: grid; grid-template-columns: repeat(1fr);">
          {% for backlink in page.backlinks %}
          <div class="callout note" style="margin-top: 0.5rem; margin-bottom: 0.5rem">
            <a
              class="internal-link" style="font: 1rem;"
              href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}"
              >{{ backlink.title }}</a
            ><br />
            <div class="muted" style="margin-top: 0.25rem">
              {{ backlink.description | strip_html }}
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div>
          <p>There are no notes linking to this note.</p>
        </div>
        {% endif %}
      </div>
    </div>
    <hr />
  </article>
</content>
