---
layout: default
---

<div class="title">
  <div class="project-tags" aria-label="Tags: {{ page.tags | join: ', ' }}">
    {% for tag in page.tags %}
    <div class="tag active" data-filter="{{ tag }}">
      <span class="tag-square"></span>{{ tag | capitalize }}
    </div>
    {% endfor %}
  </div>
  <h1>{{ page.title }}</h1>
</div>
<content>
  <article class="">
    <div class="pb">
      {% if page.description %}
      <p class="intro">{{ page.description }}</p>
      {% endif %}
      <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
        {% if page.type != 'pages' %} Last updated on {{ page.last_modified_at |
        date: "%B %-d, %Y" }} {% endif %}
      </time>
    </div>
    {{ content }}
    <br>
    To learn more about this project, please <a class="internal-link" href="/contact">reach out</a>.
  </article>
</content>
